.Kek{
    background-color: #3c79a0;
    display: flex;
    animation: someOne 1s;
    animation-fill-mode: forwards;
    border-radius: 5px;
    margin: 20px;
    border: 2px solid black;
    padding: 5px;
    justify-content: center;
    align-items: center;
    color: white;
    overflow: hidden;
    text-overflow: ellipsis;
}

@keyframes someOne{
    0%{
        opacity: 0.1;
        width: 0;
        height: 0;
    }
    100%{
        opacity: 1;
        height: 50px;
        width: 150px;
    }
}